/******************LEFT********************/
main .left .armure{
    border: 2px solid #67D4C1;
    box-shadow: 0px 4px 8px rgb(103 212 193/30%), 0px 12px 18px rgb(103 212 193/30%);
}
.creuset,.map{
    border: 2px solid white;
    box-shadow: 0px 4px 8px rgb(255 255 255/30%), 0px 12px 18px rgb(255 255 255/30%);
}

/******************CENTER********************/
main .center article{
    width: 80%;
    padding: 20px 50px;
}
main .center article h1{
    padding: 15px;
    font-size: 2em;
}
main .center article > img{
    width: 95%;
    padding-top: 20px;
}
main .center article figcaption{
    padding-bottom: 20px;
}
main .center article .armure_antique{
    text-align: center;
    float: right;
    width: 400px;
    padding-left: 10px;
}